/* Estilo do objetivo e da tabela */
.objetivo-tabela {
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
	width: 100%;
}

.objetivo-tabela h3 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.objetivo-tabela p {
	margin-bottom: 30px;
}

.objetivo-tabela table {
	border-collapse: collapse;
	max-width: 600px;
}

.bgcinza {
	background-color: #E6E6E6;
}

.objetivo-tabela table td{
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

.objetivo-tabela table th{
	background-color: #9E9E9E;
	border: 1px solid black;
	padding: 5px;
}
/* Estilo do butões da tab */
.tab_dia-btn {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

.tab_dia-btn:hover {
	background-color: #f7b762;
}

.tab_dia-btn.active {
	background-color: #F6930E;
}