/* Estilo do objetivo e da tabela */
.objetivo-tabela {
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
	width: 100%;
}

.objetivo-tabela h3 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.objetivo-tabela p {
	margin-bottom: 30px;
}

.objetivo-tabela table {
	border-collapse: collapse;
	max-width: 600px;
}

.bgcinza {
	background-color: #E6E6E6;
}

.objetivo-tabela table td{
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

.objetivo-tabela table th{
	background-color: #9E9E9E;
	border: 1px solid black;
	padding: 5px;
}
/* Estilo do butões da tab */
.refecoes {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px 10px;
}
.tab {
	display: flex;
	justify-content: space-around;
}
.tablinks {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

.tablinks:hover {
	background-color: #f7b762;
}

.tablinks.active {
	background-color: #F6930E;
}

/* Estilo dos conteudo da tab*/
.tabcontent {
	width: 100%;
	display: none;
	text-align: center;
}

.tabcontent h3{
	font-weight: 400;
	font-size: 1.5rem;
}

.tabcontent p{
	font-size: 1.2rem;
}

/* Efeito quando escolhi um treino */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}