* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: none;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul, li, ol {
	list-style: none;
}
