/*=== cabeçalho ===*/
.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #1d1715;
	color: #fff;
}

.cabecalho img {
	width: 60px;
}

.cabecalho h1 {
	font-size: 1.5rem;
}
/*=== Menu ===*/
/*--- botões ---*/
.btnMenu {
	color: #fff;
}

.btnMenu:hover {
	color: #F6930E;
}

.btnSair {
	cursor: pointer;
	background-color: #F6930E;
}

.btnSair:hover {
	color: #1d1715;
	background-color: #f4760e;
}
/*--- item ---*/
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	text-align: center;
	
	display: none;
}

.menu_opem {
	display: flex;
	flex-direction: column;
}

.menu-item:first-child {
	border: none;
}

.menu-item {
	border-bottom: 1px solid rgba(33, 33, 33,.5);
	padding: 15px;
}

.menu-item-action {
	text-transform: uppercase;
	color: #1d1715; 
}

.menu-item-action:hover {
	color: #F6930E;
	font-weight: 400;
}
/*=== Banner ===*/
.foto {
	width: 100%;
}
/* Rodape */
.rodape {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgba(255,255,255,.5);
	background-color: #1d1715;
	padding: 10px;
}

.rodape-logo {
	width: 100px;
}